@model CentralisationV0.Models.Entities.ResetPasswordViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="~/Content/styles/styleConnexion.css">
</head>
<body>

    <div class="container">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "loginForm" }))
        {
@Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.UserId)

                                <div class="logo-nav">
                                    <a href="Login.html" class="brand">
                                        <img src="~/Content/img/logo-geomatic.png" style="width: 15%;" />
                                    </a>
                                </div>
                                                <h2 style="text-align: center;">Réinitialiser le Mot de Passe</h2>

                                                                <div class="form-group">
                                                                    @Html.LabelFor(m => m.NewPassword, "Nouveau Mot de Passe:")
                                                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @id = "newPassword" })
                                                                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                                                                </div>

                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(m => m.ConfirmPassword, "Confirmer le Mot de Passe:")
                                                                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "confirmPassword" })
                                                                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                                                                </div>

                                                                                                <button type="submit" class="btn btn-primary">Réinitialiser le Mot de Passe</button>}
    </div>

</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/Scripts/script.js"></script>
    <script src="~/Content/Scripts/scriptConnexion.js"></script>
}
